<!DOCTYPE html>
<html>
  <head>
    <title>Waldo</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="mystyle.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="tag_box.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">

        <h1>Where's Waldo</h1>

      </div>

      <div class="row">

        <div class="waldo-wrapper">
        </div>

      </div>
    </div>

  </body>
</html>